*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Raleway, sans-serif; 
    font-optical-sizing: auto;
    font-style: normal;
}

#chartContainer1, #chartContainer2, #chartContainer3,#chartContainer4,#chartContainer5{
    max-width: 100%;
    max-height: 75%;
    display: flex;
}




@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX('-10deg');
    }
    to{
        opacity: 1;
        transform: rotateX('0');
    }
}
body{
    animation: transitionIn 0.75s;
    background-color:#F4F2E9;
}
.navbar{
    background: #F4F2E9;
    /* border-bottom: 2px solid #000000; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    
    display: flex;
    height: 80px;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    /* max-width: 1300px; */
    margin: 0 auto;
    padding: 10px 30px;
}
.logo{
    img{
        width: 300px;
        height: auto;
    }
    display: flex;
    align-items: center;
}
.navbar__menu{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}
.navbar__items{
    
    height: 30px;
}
.navbar__links{
    font-family:Raleway, sans-serif; 
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #4F4B25;
    padding: 0 1.5rem;
    height: 100%;
    font-size: 1.2rem;
}
.navbar__menu li::after{
    content: '';
    width: 0%;
    height: 5px;
    background: #4F4B25;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar__menu li:hover::after{
    width: 80%;
}
.logo{
    transition: transform .2s;
}
.logo:hover{
    transform:scale(1.2);
}

.footer{
    background: #BFD9AE;
    margin: 50px 0px 0px;
    padding: 0px 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 300px;
    }
    .nav a{
        text-decoration: none;
        color: #4F4B25;
        padding: 0px 20px;
        font-family:Raleway, sans-serif; 
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        font-size: 20px;
        transition: transform .2s;
    }
    
}
.main__content h1{
    text-align: center;
    font-size: 70px;
    color: #3C6522;
}

.main__content p{
    font-family:Raleway, sans-serif; 
    font-optical-sizing: auto;
    font-weight:350;
    font-style: normal;
    padding: 0px 50px;
    text-align: center;
    font-size: 25px;
    color: #000000;
}
.main__content{
    .responses{
        font-size: 15px;
    }
}
.main__content .big-q {
    font-family:Raleway, sans-serif; 
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-size: 60px;
    vertical-align: middle;
}

.chart{
    /* padding: 0 10px; */
    margin: 10px auto;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        background: #F4F2E9;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .navbar__menu.active{
        background: #F4F2E9;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font: 1.6rem;
    }
    .logo{
        padding-left: 25px;
    }
    .logo{
        img{
            width: 180px;
            height: auto;
        }
    }
    .navbar__menu li::after{
        content: '';
        width: 0%;
        height: 5px;
        background: #4F4B25;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .navbar__menu li:hover::after{
        width: 25%;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #4F4B25;
    }
    .navbar__items{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2px;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .main__content h1{
        text-align: center;
        font-size: 30px;
        color: #3C6522;
    }

    .main__content p{
        font-family:Raleway, sans-serif; 
        font-optical-sizing: auto;
        font-weight:250;
        font-style: normal;
        /* padding: 0px 20px; */
        text-align: center;
        font-size: 18px;
        color: #000000;
    }
    .main__content{
        .responses{
            font-size: 8px;
        }
    }
    .main__content .big-q {
        font-family:Raleway, sans-serif; 
        font-optical-sizing: auto;
        font-weight:300;
        font-style: normal;
        font-size: 32px;
        vertical-align: middle;
    }
    
    .chart{
        /* padding: 0 0px; */
        margin: 10px auto;
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: auto;
    }
    .footer{
        background: #BFD9AE;
        margin: 20px 0px 0px;
        padding: 0px 10px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 120px;
        }
        .nav a{
            text-decoration: none;
            color: #4F4B25;
            padding: 0px 7px;
            font-family:Raleway, sans-serif; 
            font-optical-sizing: auto;
            font-weight:250;
            font-style: normal;
            font-size: 10px;
            transition: transform .2s;
        }
        
    }

}


.container {
    margin-bottom: 20px; /* Space between each container */
    padding: 30px 30px; /* Add padding inside the container */
    background-color: #F4F2E9; /* Example background color */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Optional: add shadow for better visualization */
    width: 100%; /* Full width */
    max-width: 1200px; /* Max width for larger screens */
    margin: 0 auto; /* Center the container */
}
@media (max-width: 768px) {
    .container {
        padding: 30px;
    }
}

/* Button styles */
button {
    background-color: #0d4166; /* Blue color for buttons */
    color: white;
    border: none;
    padding: 10px 10px; /* Moderate padding */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10%; /* Rounded corners */
    width: 150px; /* Fixed width for all buttons */
    height: 40px; /* Fixed height for all buttons */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    white-space: nowrap; /* Prevent wrapping of text */
}

button:hover {
    background-color: #052343; /* Darker blue on hover */
}

button:active,
button.active {
    background-color: #052343; /* Even darker blue when active */
}

/* Additional styles for specific buttons */
.legend {
    margin-right: 10px; /* Adjust spacing between legend buttons */
}

.reset-button {
    margin-top: 10px; /* Add space above reset button */
    background-color: #eb3245; /* Red color for reset button */
    width: 120px; /* Adjusted width for reset button */
}

.reset-button:hover {
    background-color: #c82333; /* Darker red on hover */
}
